body {
    background: rgb(197, 197, 247);
    font: normal 20px monospace;
}

header {
    color: white;
    text-align: center;
    font-family: monospace;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(73, 73, 73, 0.479);
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    position: fixed;
    width: 90%;
    bottom: 0;
}

img {
    width: 250px;
    margin-top: 20px;
}